Alias /install /install
<Directory /install>
    Options Indexes FollowSymLinks
    Require all granted
</Directory>

Alias /tftpboot /tftpboot
<Directory /tftpboot>
    Options Indexes FollowSymLinks
    Require all granted
</Directory>
